<div class="info">
    <h4> Steps to authenticate: </h4>
    <ol>
        <li> Check the phone for a push notification </li>
        <li> Alternatively, scan QR code with 2Q2R App </li>
        <li> Verify that the challenge is the same </li>
        <li> Press OKAY button on the phone </li>
        <li> Different challenge? Notify administator </li>
    </ol>

    <p> <b>Why check the challenge?</b> <br>
    Chance of login highjacking reduced to
        <b>1 in 281 trillions</b> for first 8 characters and <b>1 in 374 trillion trillion trillion trillions</b> for all
        28 characters.
    </p>
    <button class="ui  button" id="back">Back</button>
</div>