<div class="info">
    <h6> <b>Please scan</b> the QR code at the left with the 2Q2R App. </h6>
    <p> Before you accept, check the <b>8 digit numbre</b> displayed in large font on the phone and on the screen. By doing so, you reduce the chance of registration hijacking to <b>1 in 281 trillions</b>.
    </p>
    <p> Should you check all displayed characters, chances are reduced to
        <b> 1 in 374 trillion trillion trillion trillions</b>
    </p>
    <div class="qr-actions">
        <a class="waves-effect waves-light btn" id="back">Back</a>
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Waiting for scan...</p>
    </div>
</div>
