{! This template displayes info on key types !}
<div id="keyInfo">
    <div id="info">
        <p> Please select the device type you plan to use. Once selected, 
            details on the key type will be displayed. </p>
    </div>
    <div id="2q2r-ki" class="hidden">
        <p>To use 2Q2R keys you need to install the Android or iOS 2Q2R application.</p>
    </div>  

    <div id="u2f-ki" class="hidden">
        <p>The FIDO U2F keys require the use of a FIDO U2F device 
        and a browser plugin that allows the device to be accessed.
        <ul>
            <li> Yubico U2F </li>
            <li> Bla </li>
        </ul>
    </div>
</div>