{! This template displayes info on key types !}
<div id="keyInfo">
    <div>
        <h6>Please select a device type.</h6>
    </div>
    <div class="key-list-info-key hidden" id="2q2r-ki">
        <h6><b>2Q2R Apps</b></h6>
        <ul>
            <li> Android 4.4+, iOS 9+ </li>
            <li> Front facing camera and internet capable </li>
            <li> Password protected <a href="#">Why?</a></li>
            <li> Internet capable (WiFi or cell) </li>
            <li> <b>Note:</b> The device does not need to be a cell phone </li>
        </ul>
    </div>
    <div class="key-list-info-key hidden" id="u2f-ki">
        <h6><b>FIDO U2F Device</b></h6>
        <p>FIDO U2F keys use a <a target="_blank" href="https://fidoalliance.org/">FIDO</a> U2F security key to authenticate.
            This method constitutes of inserting the key into a USB slot and pressing the button on the key.
        </p>
        <h6>The following U2F devices will work with 2Q2R:</h6>
        <ul>
            <li> <a target="_blank" href="https://www.yubico.com/products/yubikey-hardware/fido-u2f-security-key/">Yubico FIDO U2F </a></li>
            <li> <a target="_blank" href="http://HyperFIDO.com">HyperSecu</a></li>
            <li> <a target="_blank" href="http://sk.happlink.com/plugup/en/">Happlink plug-up</a></li>
        </ul>
    </div>
</div>