{! This template displayes info on key types !}
<div id="keyInfo">
    <div>
        <p> Please select a device type. </p>
    </div>

    <div class="key-list-info-key hidden" id="2q2r-ki">
        <p>2Q2R App keys use the <a href="#">2Q2R App</a> to authenicate. This method requires you to scan a QR Code with the 2Q2R App.</p>
    </div>
    <div class="key-list-info-key hidden" id="u2f-ki">
        <p>FIDO U2F keys use a <a href="https://www.google.com/search?btnG=1&pws=0&q=fido+u2f+security+key">FIDO U2F security key</a> to authenticate. This method constitutes of inserting the key into a USB slot and pressing the button on the key.</p>
        <ul>
            <li> Yubico U2F </li>
            <li> Bla </li>
        </ul>
    </div>
</div>
