{! This template lists the key types available !}
<div class="ui form" id="form-kt">
    <div class="grouped fields">
        <label>Select the type of device.</label>
        {#keys}
        <div class="field">
            <div class="ui radio checkbox" id="{value}-cb">
                <input type="radio" value="{value}" name="keyradio">
                <label>{name}</label>
            </div>
        </div>
        {/keys}
    </div>
    <button class="ui blue button" id="continue">Continue</button>
</div>
