<!-- our toolbar -->
<div class="register-toolbar">
    <img src="/img/2q2r-logo.svg" class="register-toolbar-brand">
    <a href="javascript:void(0)" class="register-toolbar-action">
        <div class="ui dropdown left">
            <input type="hidden">
            <img src="/img/settings.svg" class="">
            <div class="menu">
                <div class="item">This should do something</div>
                <div class="divider"></div>
                <div class="item">About 2Q2R</div>
            </div>
        </div>
    </a>
</div>

<div id="state"></div>