#challenge-big {
    font-size: 24px;
    width: 100%;
    text-align: center
}

#challenge-small {
    font-size: 12px;
    width: 100%;
    text-align: center
}

#qrcode {
    padding: 10px;
}

.qr-container {
    width: 222px;
    background-color: white;
}

section {
    display: none
}

/* we set this one on every single step of the process; the actual iframe */

.register {
    height: inherit;
    width: inherit;
    display: flex;
    background-color: inherit;
    /* correct for the toolbar */
    margin-bottom: 2rem;
    border: 2px solid #4597DF;
    /* give it some depth */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


/* the register toolbar */

.register-toolbar {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.register-toolbar-brand {
    height: 3rem;
    margin: 0.5rem;
}

.register-toolbar-action {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1rem;
}

.register-toolbar-action > img {
    height: 100%;
    width: 100%;
}