/* overall styles for iframe */

html {
    /* make it as tall as the iframe */
    height: 100%;
    background-color: #FCFCFC;
}

body {
    /* inherit from html */
    height: inherit;
    background-color: #FCFCFC !important;
}

ul li {
    /* disabled by materialize */
    list-style-type: disc;
    list-style-position: inside;
}

label {
    color: rgba(0,0,0,0.87);
}


/* jquery requires something to be hidden to call .show() */

.hidden {
    display: none;
}


/* the toolbar */

.main-toolbar {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    /* a step above the rest */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main-toolbar-brand {
    height: 2.5rem;
    margin-left: 7px;
}

.main-toolbar-title {
    margin: 0 auto 0 auto;
    font-size: 21px;
    margin-left: auto;
    margin-right: 1rem;
}


/* the thing that contains all of the states */

.state-container {
    /* total height - toolbar - top + bottom margins */
    height: calc(100% - 4rem - 14px);
    width: calc(100% - 14px);
    margin: 7px;
    display: flex;
}
