/* register base class */

.register {
    height: 100%;
    width: 100%;
}


/* the container for all of the first part of register */

.key-list {
    display: flex;
}

.key-list-info {
    width: 100%;
    margin-right: 13px;
}

.key-list-keys {
    width: 55%;
    display: flex;
    justify-content: center;
}

.key-list-info-key {}

.key-list-divider {
    height: 100%;
    width: 1px;
    background-color: black;
    margin: 0 1rem 0 1rem;
}

/* qr code section of the page */
.content {
    width: 40%;
}

/* qr code container */
#qrcode {
    display: flex;
    justify-content: center;
}

/* info section */
.info {
    width: 60%;
}
