/* register base class */

.register {
    height: 100%;
    width: 100%;
}

.badge-container {
    margin: 0 auto;
    justify-content: center;
    display: flex !important;
}

.badge-container a:nth-child(1) {
    margin-right: 20px;
}

/* the app store logos */
.badge {
	height: 45px;
}

.modal .modal-content {
    padding: 7px 24px 7px 24px;
}
