<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2Q2R Registraion Frame</title>
    <link rel="stylesheet" type="text/css" href="/lib/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>

<script type="text/javascript">
    // injected data
    var data = {{{toJSON data}}};
</script>

<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/lib/u2f-api/u2f-api-polyfill.js"></script>
<script type="text/javascript" src="/lib/semantic/dist/semantic.min.js"></script>

<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/auth.js"></script>

<body>
    <section state="keyselect">
        <div class="ui form" id="form-kt">
            <div class="grouped fields" id="keylist">
                <label>Select the key</label>

            </div>
        </div>
        <button class="ui blue button" id="continue">Continue</button>
    </section>

    <section state="2q2r-login">
        <h1> Scan the QR code with your 2Q2R App </h1>
        <div class="qr-container">
            <div id="qrcode"></div>
            <div id="challenge-big"></div>
            <div  id="challenge-small"></div>
        </div>
        <button class="ui  button" id="back">Back</button>
        <button class="ui blue button" id="continue">Continue</button>
    </section>
</body>
</html>  