<!DOCTYPE html>
<html>
    <head>
        <!-- title, meta, etc -->
        <meta charset="utf-8">
        <title>2Q2R Registraion Frame</title>

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="/lib/materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">

        <!-- injection of variables -->
        <script type="text/javascript">
            // injected data
            var data = {{{toJSON data}}};
        </script>

        <!-- outside scripts -->
        <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
        <script type="text/javascript" src="/lib/u2f-api/u2f-api-polyfill.js"></script>
        <script type="text/javascript" src="/lib/materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/lib/dustjs-linkedin/dist/dust-core.min.js"></script>
        <script type="text/javascript" src="/lib/dustjs-helpers/dist/dust-helpers.min.js"></script>

        <!-- our scripts, load last -->
        <script type="text/javascript" src="/js/base.js"></script>
        <script type="text/javascript" src="/js/register.js"></script>
        <script type="text/javascript" src="/js/dusts.js"></script>
    </head>
    <body>
    </body>
</html>