<!DOCTYPE html>
<html>
<head>
    <!-- title, meta, etc -->
    <meta charset="utf-8">
    <title>2Q2R Registraion Frame</title>

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/lib/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">

    <!-- injection of variables -->
    <script type="text/javascript">
        // injected data
        var data = {{{toJSON data}}};
    </script>

    <!-- outside scripts -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="/lib/u2f-api/u2f-api-polyfill.js"></script>
    <script type="text/javascript" src="/lib/semantic/dist/semantic.min.js"></script>

    <!-- our scripts, load last -->
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
</head>



<body>
    <!-- our toolbar -->
    <div class="register-toolbar">
        <img src="/img/2q2r-logo-word.syousvg" class="register-toolbar-brand">
        <a href="javascript:void(0)" class="register-toolbar-action">
            <div class="ui dropdown">
                <input type="hidden">
                <img src="/img/settings.svg" class="">
                <div class="menu">
                    <div class="item">This should do something</div>
                    <div class="divider"></div>
                    <div class="item">About 2Q2R</div>
                </div>
            </div>
        </a>
    </div>
    <!-- select your key type -->
    <section class="register select-type" state="keytype">
        <div class="ui form" id="form-kt">
            <div class="grouped fields">
                <label>Select the key type to register</label>
                <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" value="2q2r" name="keyradio" checked="checked">
                    <label>2Q2R App</label>
                </div>
                </div>
                <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" value="u2f" name="keyradio">
                    <label>FIDO U2F Device</label>
                </div>
                </div>
                <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" value="software" name="keyradio">
                    <label>Software Key</label>
                </div>
                </div>
                <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" value="bypass" name="keyradio">
                    <label>Bypass Key</label>
                </div>
                </div>
            </div>
            <button class="ui blue button" id="continue">Continue</button>
        </div>
    </section>
    <!-- if 2q2r app -->
    <section class="register" state="2q2r-generate">
        <h1> Scan the QR code with your 2Q2R App </h1>
        <div class="qr-container">
            <div id="qrcode"></div>
            <div id="challenge-big"></div>
            <div  id="challenge-small"></div>
        </div>
        <button class="ui  button" id="back">Back</button>
        <button class="ui blue button" id="continue">Continue</button>
    </section>

    <!-- if u2f device -->
    <section class="register" state="u2f-generate">
        <h1> FIDO U2F Generate </h1>
    </section>

    <!-- if software key -->
    <section class="register" state="software-generate">
        <h1> Software Generate </h1>
    </section>

    <!-- if you want to bypass generation -->
    <section class="register" state="bypass-generate">
        <h1> Bypass Generate </h1>
    </section>
</body>
</html>